<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>The Company</title>

    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
      integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
      crossorigin="anonymous"
    />

    <link rel="stylesheet" href="./assets/styles/main.css" />
  </head>
  <body>
    <div class="wrapper" style="position: relative;">
      <nav class="navbar navbar-light bg-dark">
        <a class="navbar-brand" href="#">
          <img src="./assets/images/icon.png" width="60" height="60" alt="#" />
        </a>
        
      </nav>

      <p class="h2 bg-success text-center text-light">SignUp Form</p>

      <form class="needs-validation ml-auto mr-auto w-75" novalidate>
        <div class="form-row">
          <div class="col-md-6 mb-3">
            <label for="firstname">First name *</label>
            <input
              type="text"
              class="form-control"
              id="firstname"
              value=""
              required
            />
            <div class="valid-tooltip">
              Looks good!
            </div>
          </div>
          <div class="col-md-6 mb-3">
            <label for="lastname">Last name</label>
            <input type="text" class="form-control" id="lastname" value="" />
            <div class="valid-tooltip">
              Looks good!
            </div>
          </div>
          <div class="col-md-12 mb-3">
            <label for="email">Email *</label>
            <div class="input-group">
              <div class="input-group-prepend">
                <span
                  class="input-group-text"
                  id="validationTooltipUsernamePrepend"
                  >@</span
                >
              </div>
              <input
                type="email"
                class="form-control"
                id="email"
                aria-describedby="validationTooltipUsernamePrepend"
                required
              />
              <div class="invalid-tooltip">
                Please choose a unique and valid email.
              </div>
            </div>
          </div>

          <div class="col-md-12 mb-3">
            <label for="password">Password *</label>
            <div class="input-group">
              <div class="input-group-prepend">
                <span
                  class="input-group-text"
                  id="validationTooltipUsernamePrepend"
                  >&#128477;</span
                >
              </div>
              <input
                type="password"
                class="form-control"
                id="password"
                aria-describedby="validationTooltipUsernamePrepend"
                required
              />
              <div class="invalid-tooltip">
                Please choose a unique and valid password.
              </div>
            </div>
          </div>
        </div>
        <div class="form-row">
          <div class="col-md-6">
            <label for="mobile">Mobile No.</label>
            <div class="input-group">
              <div class="input-group-prepend w-100">
                <span
                  class="input-group-text"
                  id="validationTooltipUsernamePrepend"
                  >+91</span
                >
                <input type="number" class="form-control" id="mobile" />
              </div>
              <div class="invalid-tooltip">
                Please provide a valid mobile number.
              </div>
            </div>
          </div>
        </div>
        <button id="signup-btn" class="btn btn-success">SignUp</button>
        <a href="./loginform.html" id="forsignin-btn" class="btn btn-secondary float-right">
          For SignIn
        </a>
      </form>

      <div style="position: absolute; top: 0; right: 0; width: 20%;">
        <div
          class="toast"
          role="alert"
          aria-live="assertive"
          aria-atomic="true"
          data-delay="10000"
        >
          <div class="toast-header">
            <strong class="mr-auto">Message</strong>
            <small class="text-muted">just now</small>
            <button
              type="button"
              class="ml-2 mb-1 close"
              data-dismiss="toast"
              aria-label="Close"
            >
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="toast-body"></div>
        </div>
      </div>
    </div>

    <script
      src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
      integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
      integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
      integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
      crossorigin="anonymous"
    ></script>

    <script src="assets/scripts/signupform.js"></script>
  </body>
</html>
