header{
    background: #01474a;
}
.nav{
    display: flex; 
}

.admin-wrapper{
    display: flex;
   height:calc(100%-66px);
   
}

.admin-wrapper .left-sidebar{
    flex:3;
    height:100vh;
    background: #FF7F50;
    border-top: 1px solid black;

}
.admin-wrapper .left-sidebar ul{
    list-style:none;
    margin-top:4rem;
    text-align: center;
    padding: 4rem;
    border:5rem;
    color:white;
}

.admin-wrapper .left-sidebar ul li a {
    padding:18px;
    display: block;
    border-bottom:1px solid black;
}

.admin-wrapper .left-sidebar ul li a:hover {
    background:rgb(121, 145, 165);
}

.admin-wrapper .admin-content{
    flex:7;
    height:100%;
   padding:40px 100px 100px;
   
}

.admin-content .page-title{
    text-align:center;
    margin-bottom:1.5rem;
}
table{
    width:100%;
    border-collapse:collapse;
    font-size:1.1rem;
}

th,
td{
    padding:15px;
    text-align:left;
    border-bottom:1px solid darkkhaki;
}

.edit{
    color:firebrick;
}
.update{
    color:forestgreen;
}
.delete{
    color:darkslategray;
}

.edit:hover,
.delete:hover,
.publish:hover{
    text-decoration:underline;
}

form div{
    margin-bottom: 15px;
}





