*{
    box-sizing:border-box;
}

body{
    padding:0px;
    margin:0px;
    background: #f6f6f6;
    font-family: 'Lora', serif;
}

header{
    background: #008489;
    height:66px;
}

header * {
    color: white;
}

header .logo{
    float:left;
    height:inherit;
    margin-left:2em;
    
}

header .logo-text{
margin:10px;
font-family: 'Condal', serif;
}

header .logo-text span {
    color:#05f7ff;

}

header ul{
    float:right;
    margin:0px;
    padding:0px;
    list-style: none;
}

header ul li{
    float:left;
    position:relative;
}

header ul li ul{
    position:absolute;
    top:66px;
    right:0px;
    width:180px;
    display:none;
}

header ul li:hover ul{
    display:block;
}

header ul li ul li{
    width:100%;
}

header ul li ul li a{
    padding:10px;
    background:white;
    color:#444;
}

header ul li ul li a{
    color:red;
}

header ul li ul li a:hover{
    background: #d5d5d6;
}


header ul li a{
    display:block;
    padding:21px;
    font-size:1.1em;
    text-decoration:none;
}

header ul li a:hover{
    background: #008489;
    transition:0.5s;
}

header.menu-toggle{
    display:none;
}