**/bin/
**/obj/
node_modules/
package-lock.json
yarn.lock
Deepak_Yadav/S5 Dotnetbasics/Dotnetbasics/obj/**
Deepak_Yadav/S5 Dotnetbasic/Dotnetbasics/bin/**
Deepak_Yadav/.vs
Deepak_Yadav/S5 Dotnetbasic/.vs
Shubham_Sharma/Practice/Practice/bin/**
Shubham_Sharma/Practice/Practice/obj/**
