<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" href=".\assets\css\login.css">
    
</head>
<body class="px-30">
    <div class="card" >
        <div class="card-body">
          <h5 class="card-title">Sign up Page</h5>
          <form>
            <div class="form-group">
                <label for="exampleInputName1">Name</label>
                <input type="text" class="form-control" id="exampleInputName1" >
                
            </div>
            <div class="form-group">
                <label for="exampleInputUsername1">Username</label>
                <input type="text" class="form-control" id="exampleInputUsername1" >
                
            </div>
            <div class="form-group">
                <label for="exampleInputRole1">Role</label>
                <input type="text" class="form-control" id="exampleInputRole1">
                
            </div>
            <div class="form-group">
              <label for="exampleInputEmail1">Email address</label>
              <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
              
            </div>
            <div class="form-group">
              <label for="exampleInputPassword1">Password</label>
              <input type="password" class="form-control" id="exampleInputPassword1">
            </div>

            <div class="form-group">
              <label for="exampleInputProjectID1">ProjectID</label>
              <input type="text" class="form-control" id="exampleInputProjectID1">
            </div>


            
            <button onclick="sendJSON()" class="btn btn-primary">Register</button>
          </form>
        </div>
      </div>
      <script src=".\assets\scripts\signup.js"></script>

</body>
</html>