.jumbotron{
    background-image: linear-gradient(to right, #fe5858, #ee9617);  
  
}
h1{
    color:white !important;
}
p{
    color: white;
}
.overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: 2s ease;
    border-radius: 1rem;
    background-image: linear-gradient(to right, #fe5858, #ee9617); 
  }
  
  .thumbnail:hover .overlay {
    opacity: 1;
  }

  .text {
    color: white;
    font-size: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
  }

