body {
    font: 20px Montserrat, sans-serif;
    line-height: 1.8;
    color: #f5f6f7;
  }
  p {font-size: 15px;}
  .margin {margin-bottom: 35px;}

  .carousel-inner img {
  width: 100%; /* Set width to 100% */
  margin: auto;
  }

 .carousel-caption h3 {
  color: #00061a !important;
  }
  .carousel-caption p {
  color: #00061a !important;
  }

  .bg-2 { 
    background-color: #F5F5F5; /* Green */
    color: #000000;
    
  }
  .bg-3 { 
    background-color: #D3D3D3; /* Dark Blue */
    color: #000000;
   
    
  }
  .bg-4 { 
    background-color: #F5F5F5; /* White */
    color: #000000;
    
  }

  .bg-5 { 
    background-color: #D3D3D3; /* Dark Blue */
    color: #000000;
    
  }

  .bg-6 { 
    background-color: #484848; /* Black Gray */
    color: #ffffff;
    font-weight: bold;
    font-size: 10px;
  }
  .container-fluid {
    padding-top: 30px;
    padding-bottom: 30px;
  }

  .margin {
    font-weight: bold;
  }
  .navbar {
    padding-top: 10px;
    padding-bottom: 10px;
    border: 0;
    border-radius: 0;
    margin-bottom: 0;
    font-size: 15px;
    background-color: #404040;
  }
  .navbar-nav  li a:hover {
    color: #ffffff !important;
    background-color: #ffffff;
  }
  .navbar-brand a:{
    color: #ffffff;
  }
  .hero {
    color: #ffffff;
    font-weight: bold;
  }
  </style>