<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Sign UP Page</title>
	
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>

    <link rel="stylesheet" type="text/css" href="assets/css/css.css">
    
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    

</head>
<body>


<div class="row" id="sgnUp">
	<div class="col-lg-8 col-lg-offset-2">
		<div class="panel panel-info">
		  <div class="panel-heading">
				<strong>CyberGroup</strong>	
		  </div>
		  <div class="panel-body">
		   <img class="logo-img" src="https://media-exp1.licdn.com/dms/image/C4D0BAQFSk7W1KUiG0w/company-logo_200_200/0?e=2159024400&v=beta&t=dToUex9P08LphNIkkj5aT6ZhSC17M8orhdt784fwwjE">
		  	<form class="form-horizontal" action="#">
					
					<div class="form-group">
						<label for="inputEmail3" class="col-lg-2 control-label">Name</label>
						<div class="col-lg-4">
							<input id="nameId" type="text" class="form-control" name="Name" placeholder="himanshu kumar" required="required"></input>
						</div>
						<label for="inputEmail3" class="col-lg-2 control-label">Email</label>
						<div class="col-lg-4">
							<input id="mailId" type="email" class="form-control" name="email" placeholder="abc@xyz.com" required="required"></input>
						</div>
					</div>
					<div class="form-group">
						<label for="inputEmail3" class="col-lg-2 control-label">Age</label>
						<div class="col-lg-4">
							<input id="ageId" type="number" class="form-control" name="age" placeholder="enter age in years" required="required" autocomplete="off"></input>
						</div>

						<label for="inputEmail3" class="col-lg-2 control-label">Password</label>
						<div class="col-lg-4">
							<input id="passId" type="password" class="form-control" name="Pass" placeholder="Enter Password" required="required"></input>
						</div>
						
					</div>
					<div>
						<input type="button" value="Sign Up" id="signUpBtn" class="btn btn-primary">
					</div>
					<div>
						<a id="toLogin" href="assets/html/login.html">Already a member? Login</a>
					</div>
					
			</form>
		  </div>
	    </div>
    </div>
</div>
<script src="./assets/js/index.js"></script>
</body>
</html>


