.background_dashboard{
    height: 100vh;
    background:#9a9184;
   
}
.table{
    margin-top: 5rem;
}
.deletebutton{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: nowrap;
}
.show{
    margin-left: 43%!important;
}