.bg-dark1{
    background-size: cover;
    background-color: #0a233e!important;
  }
  .nav3{
	padding-left: 80px;
	font-weight: 200;
}
.nav2{
	font-size: 15px;
}
.signupbg{
    background: url("../images/back.jpg")no-repeat;
    background-size: cover;
    min-height: 620px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}
.btnsstyle:hover{
    background-color: #2c9988;
    font-weight: bolder;
  }
  .frm input
          {
            width: 100%;
            max-width: 350px;
            padding: 12px 20px;
            margin: 8px 0;
            box-sizing: border-box;
            border-color: black;
            border-radius: 10px;
          }
.frm{
    font-size: 20px;
    font-weight: bold;
}
.frm input:focus {
    background-color: lightblue;
}
.frm ::placeholder {
    color: navy;
    font-weight: 500;
}/*style for form field ends here*/
.sgn-up-2{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: fit-content;
}
