*{
    margin:0;
    padding:0;
}

.bg{
    width:100%;
    height:100vh;
    background-repeat:no-repeat;
   background-image:linear-gradient(27deg,skyblue 50%,bisque 50%);
    /*background-size:cover;*/
    align-items:center;
    text-align:center;
    
}
.inner{
   background-color: white;
   
   position:absolute;
   align-items:center;
   text-align:center;
   border-radius:10%;
   border:solid black;
   width:30%;
   top:50%;
   left:30%;
   transform: translate(-50%,-50%);
   /*margin:8rem 25rem;/*TB LR*/
      display:flex;
   flex-direction:column;
    box-shadow:0 1px 6px bisque;
}
.container{
   padding:0.1rem 2rem;/*TB LR*/
    font-size: larger;
    font-weight: bolder;
    align-items: baseline;

}
input{

    border-radius: 12%;
    margin:1rem 2rem ;/*TB LR*/
    padding:0.6em;
    width:80%;
    
}

  button{
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
     font-weight: bolder;
     font-size:larger;
     z-index:1000;


  }
  .img{
    width:8em;
    height:9em;
     
  }
  