<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>User Login Page</title>
	
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>

    <link rel="stylesheet" type="text/css" href="../css/css.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    

</head>
<body>
    <div class="row" id="lgn">
        <div class="col-lg-4 col-lg-offset-4">
            <div class="panel panel-info">
              <div class="panel-heading">
                <p><strong>CyberGroup</strong></p>
                <p>User Login</p>	
              </div>
              <div class="panel-body">
               <img class="logo-img" src="https://media-exp1.licdn.com/dms/image/C4D0BAQFSk7W1KUiG0w/company-logo_200_200/0?e=2159024400&v=beta&t=dToUex9P08LphNIkkj5aT6ZhSC17M8orhdt784fwwjE">
                  <form class="form-horizontal" action="#">
                    
                        <div class="form-group">
                            <label for="inputEmail3" class="col-lg-2 control-label">Email</label>
                            <div class="col-lg-10">
                                <input id="email" type="text" class="form-control" name="email" placeholder="abc@xyz.com" required="required"></input>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="inputEmail3" class="col-lg-2 control-label">Password</label>
                            <div class="col-lg-10">
                                <input id="pass" type="password" class="form-control" name="Pass" placeholder="Enter Password" required="required"></input>
                            </div>
                        </div>
                        <div>
                            <input type="button" value="Log In" id="loginBtn" class="btn btn-primary">
                        </div>
                        <div>
                            <a id="toReg" href="../../index.html">New User? Sign Up</a>
                        </div>
                        
                        
                    
                </form>
              </div>
            </div>
        </div>
    </div>
    <script src="../js/login.js"></script>


</body>
</html>

