*,
*:after,
*:before{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}

/* .div1{ */
    /* display: flex; */
    /* align-items: center;
    justify-content: center; */
    /* margin: auto;  */
    /* padding: 0px 34rem; */
    
    

/* } */


/* .inputArea{
width: 5rem;
} */

/* .keypad{
    display: flex;
    width: 5rem;
}  */

.main{
    width: 50%;
    margin: auto;
    padding: 1rem;
    border: 1px solid black;
    box-shadow: 10px 10px 5px grey;
}

button{
    width: 100%;
    padding: 1rem;
    font-size: 2rem!important;
    box-shadow: 10px 10px 5px grey;
}


.keypad{
    display: grid;
    grid-gap: 11px 8px;
    grid-template-columns: auto auto auto auto auto;
    padding-top: 2rem;
}

#display{
    width: 100%;
    font-size: 3rem;
    padding: 1rem;
    text-align:right ;
    background-image: linear-gradient(black, grey);
    color: white;
    box-shadow: 6px 7px 5px 10px black;
}

h1{
    text-align: center;
    font-size: 6rem;
    font-style: oblique;
    padding: 1rem;
}

body{
    background-color: aqua;
}



/* .numberClass{
    
} */


