.container{
    background-color: rgba(0, 0, 0, 0.842);
    height: 450px;
    width: 330px;
    border-radius: 8px;
    position: relative;
    top: 20%;
    left: 40%;

}


.scrn{
    position: relative;
    background-color: lightslategray;
    height: 55px;
    width: 266px;
    margin: 2rem;
    top: 25px;
    border-radius: 4px;
}

.scrn input{
    position: relative;
    left: 2px;
    top: 3px;
    text-align: right;
    width: 248px;
    height: 45px;
    font-size: large;
    color: black;
    background-color: lightslategray;
    padding-right: 10px;
    
}


.calc_btns{
    position: relative;
    margin: 4rem 1.8rem 2rem 2rem;
    border-style: groove;
    padding: 10px;
    

}

.num{
    background-color: black;
    color: white;
    
}

.major_opr{
    color:white;
    background-color: sienna;
    font-weight: lighter;
    
}

.other_opr{
    color: white;
    background-color: gray;
    
}

#equal_btn{
    background-color:orangered;
    color: white;
}

p>*{
    margin: 2px;
    cursor: pointer;
    border-radius: 5px;
    font-size: 20px;
    border: none;
    width: 41.4px;
    height: 30px;
}  

#zero, #ce_btn{
    width: 90px;
}
