body{
    background-image: linear-gradient(to right, black, lightblue);
    margin: 0;

}

.container{
    background-color: rgba(0, 0, 0, 0.842);
    height: 450px;
    width: 330px;
    border-radius: 8px;
    position: relative;
    top: 20%;
    left: 40%;
    box-shadow: 4px 7px gainsboro;
}


.scrn{
    position: relative;
    background-color: lightslategray;
    height: 55px;
    width: 266px;
    margin: 2rem;
    top: 25px;
    border-radius: 4px;
    
}

.scrn input{
    position: relative;
    left: 2px;
    top: 3px;
    text-align: right;
    width: 249.5px;
    height: 45px;
    font-size: large;
    color: black;
    background-color: lightslategray;
    padding-right: 10px;
    
}


.calc_btns{
    position: relative;
    margin: 4rem 1.8rem 2rem 2rem;
    border-style: groove;
    padding: 10px;
    

}

.num{
    background-color: black;
    color: white;
}

.num:hover{
    background-color: darkslategrey;
}

.num:active{
    background-color: darkslategrey;
    box-shadow: 0 3px;
    transform: translateY(3px);
}


.major_opr{
    color:white;
    background-color: sienna;
    font-weight: lighter;   
}

.major_opr:hover{
    background-color: brown;
}

.major_opr:active{
    background-color: brown;
    box-shadow: 0 3px;
    transform: translateY(3px);
}
.other_opr{
    color: white;
    background-color: gray;
    
}

.other_opr:hover{
    background-color: darkslategray;
}

.other_opr:active{
    background-color: darkslategray;
    box-shadow: 0 3px;
    transform: translateY(3px);
}
#equal_btn{
    background-color:orangered;
    color: white;
}

p>*{
    margin: 2px;
    cursor: pointer;
    border-radius: 5px;
    font-size: 20px;
    border: none;
    width: 41.4px;
    height: 30px;
    text-align: center;
    outline: none;
    box-shadow: 0 7px #999;
}  

#zero, #ce_btn{
    width: 90px;
}

s