body{
    height: 100vh;
    background-image: url("../images/jumbo-bg.jfif");
    background-size: cover;
}
button{
    border-radius: 5%;
    width: 100%;
    height: 100%;
}
td{
    height: 33.33%;
    width: 33.33%;
    text-align: center;
}
.table-container{
    display: flex;
    justify-content: space-around;
    max-width: 370px;
    margin-left: auto;
    margin-right: auto;
}
table{
    width: 50vh;
    height: 50vh;
}
button{
    background-color: brown;
    font-size: 150%;
    color: white;
}