button{
    width: 100%;
    height: 100%;
}
td{
    height: 33.33%;
    width: 33.33%;
    text-align: center;
}
table{
    height: 50%;
}
button{
    background:black;
    font-size: 3rem;
    color: bisque;
}
/*for reset button*/
.btn{
    color: black;
    font-weight: 1000;
    width: 200px;
    border-radius: 20px;
}