*{
padding:0;
font-family:'Times New Roman', Times, serif;
margin:0;
} 
.back{
 background-image: url("./my fav.jpeg");  
 width:100%;
 height:100vh;
  background-size: cover;
  display:flex;
  align-items:center;  /*brings items in vertical center*/
  justify-content:left;/*brings items in horizontal center*/
  color:white;
  text-align:center;/*keeps text aligned in center*/
  position:relative;
  
}

.pro {
   width:19rem;
  background-color:#120300;
   opacity:0.7;/*increase the transparency*/
   padding:40px 0;/*TB LR*/
   border-radius:10%;/*used to curve the corners*/
  
    
}
 .list{
     list-style-position: inside;
    font-size:1.0em;
    font-weight:20;
     padding:0.9rem;
     margin-left:0;
    background-color:#120300 ;
    opacity:0.7;
    display:none;
    justify-content: space-around;
    margin:1em;
    
    text-align: left;
    width:fit-content;
    
}
#headings{
    margin:1rem;
}

.text h2{   /*it applies properties  only to h2*/ 

    font-size:2em;
    font-weight:400;
    margin-bottom:1.2rem;
    
}
.text h3{   /*it applies properties  only to h2*/ 

    font-size:1.2em;
    font-weight:400;
    margin-bottom:1rem;
}
img{
    height:10rem;
    width:8rem;
    border-radius: 31%;/*used to curve the corners */
    background-size: cover;
}

i{
  color:white;
  
}
