body{
    background-image: linear-gradient(to right,palegreen, lightblue);
    margin: 0;
    background-size: 100vh;
    background-position: center;
}

.container{
    position: relative;
    background-color: rgba(0, 0, 0, 0.842);
    height: 35%;
    width: fit-content;
    border-radius: 0.7em;
    box-shadow: 0.25em 0.5em gainsboro;
    min-width: fit-content;
    min-height: fit-content;
    white-space: nowrap;
    margin: auto;
    margin-top: 10%;
    padding-bottom: 4px;
}

.scrn{
    position: relative;
    background-color: lightslategray;
    height: 3.5rem;
    width: 16.5rem;
    margin: 2rem;
    top: 1.5rem;
    border-radius: 0.25rem;
}

.scrn input{
    position: relative;
    left: 0.15rem;
    top: 0.25rem;
    text-align: right;
    width: 15.5rem;
    height: 2.8rem;
    font-size: large;
    color: black;
    background-color: lightslategray;
    padding-right: 0.6rem;
}


.calc_btns{
    position: relative;
    margin: 4rem 1.8rem 2rem 2rem;
    border-style: groove;
    padding: 0.6rem;
}


.num:hover{
    background-color: darkslategrey;
}

.num:active{
    background-color: lightgray;
    box-shadow: 0 0.25rem;
    transform: translateY(0.25rem);
}

.major_opr{
    
    background-color: yell;
    font-weight: lighter;   
}

.major_opr:hover{
    background-color: blueviolet;
}

.major_opr:active{
    background-color:goldenrod;
    box-shadow: 0 3px;
    transform: translateY(3px);
}
.other_opr{
    color:black;
    background-color: gray;
}

.other_opr:hover{
    background-color: darkslategray;
}

.other_opr:active{
    background-color: red;
    box-shadow: 0 3px;
    transform: translateY(3px);
}
#equal_btn{
    background-color:sandybrown;
    color: white;
}

#equal_btn:hover{
    background-color: brown;
}

#equal_btn:active{
    background-color:lightsalmon;
    box-shadow: 0 3px;
    transform: translateY(3px);
}

p>*{
    margin: 2px;
    cursor: pointer;
    border-radius: 5px;
    font-size: 20px;
    border: none;
    width: 41.4px;
    height: 30px;
    text-align: center;
    outline: none;
    
}  

#zero, #ce_btn{
    width: 90px;
}